body {
  margin: 0;
  background-color: lightslategrey;
}

#top-container {
  background-color: #6943ff;
}

#top-container h1 {
  color: white;
}

.bottom-container-1 {
  background-color: white;
}

.bottom-container-2 {
  background-color: white;
}

.bottom-container-3 {
  background-color: white;
}

h2 {
  color: #5a537b;
}

p {
  color: #353535;
}
