body {
    font-family: Inter;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #F55A5A;
}

.navbar h3 {
    font-weight: normal;
    color: #FFFFFF;
    font-size: 26px;
}

.navbar ion-icon {
    margin-right: 15px;
    font-size: 40px;
    color: #FFFFFF;
}

.card {
    display: flex;
    margin-top: 150px;
    margin-left: 120px;
}

.card--image {
    width: 375px;
    height: 504px;
    object-fit: cover;
}

.card--info {
    margin-left: 60px;
}

.card--info--title {
    display: flex;
    align-items: center;
}

.card--info--title--googlemaps {
    color: #918E9B;
    font-size: 25px;
}

.card--info--title p {
    letter-spacing: 5px;
    color: #2B283A;
    margin-right: 25px;
    font-size: 25px;
}

.card--info--title ion-icon {
    color:  #F55A5A;
    margin-right: 10px;
    font-size: 32px;
}

.card--image {
    border-radius: 10px;
}

.card--info--date {
    font-size: 25px;
    font-weight: bold;
}

.card--info h1 {
    margin-top: 10px;
    font-size: 80px;
}

.card--info-description {
    font-size: 25px;
    max-width: 800px;
    line-height: 49px;
}
